body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Lora',Arial;
    font-weight: 100;
    background-color: #ddd;
}

p,
ul,
h1,
h2,
h3 {
    margin: 0 0 0 0;
}

.clearfix {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.navbar {
    top: 0px;
    position: fixed;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    opacity: 1;
    width: 100%;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.nav-container {
    position: relative;
    display: block;
    width: 1200px;
    height: inherit;
    margin: 0 auto 0 auto;
}

.navbar ul {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 0;
}

.navbar ul li {
    display: inline-block;
    padding: 10 10 10 10;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.navbar ul li a {
    text-decoration: none;
    color: #191919;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.logo {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.logo img {
    background-size: 100%;
    width: 100%;
}

.logo-text {
    margin-top: 10px;
    height: 50px;
    width: 200px;
    display: inline-block;
    margin-left: 200px;
}

.logo-text img {
    background-size: 100%;
    width: 100%;
}


.active {
    border-bottom: 3px solid #337ab7 !important;
}

.container {
    position: relative;
    display: block;
    padding-top: 70px;
    width: 1200px;
    height: auto;
    margin: 80px auto 0 auto;
    padding: 15px 20px 15px 20px;
    background-color: white;
}

.main-content {
    width: auto;
    display: block;
    height: auto;
    margin-right: 20px;
    padding: 15px 20px 15px 20px;
}

.adsByLocGraphs {
    border-bottom: 2px solid #ddd;
}

center {
    margin: 0 auto 0 40px;
}

.desc1 {
    margin-bottom: 30px;
}

#container,
#container1,
#container2,
#container3,
#container4 {
    display: inline-block;
    width: 480px;
    height: 240px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.seperator {
    width: 100%;
    height: 0px;
    border-bottom: 2px solid #ddd;
    margin-top: 20px;
}

.desc2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#user-graph1,
#user-graph2 {
    display: inline-block;
    width: 480px;
    height: 240px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.desc3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#cat-graph1,
#cat-graph2,
#cat-graph3,
#cat-graph4,
#cat-graph5 {
    display: inline-block;
    width: 480px;
    height: 240px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.see-more-btn {
    margin-top: 10px;
    border: 1px solid #434348;
    padding: 8 8 8 8;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    clear: both;
}
.see-more-btn:hover {
    text-decoration: none;
    color: white;
    background-color: #434348;
}
